/backend-laravel/vendor/
/backend-laravel/node_modules/
/backend-laravel/.env
/backend-laravel/.env.*
!/backend-laravel/.env.example
/backend-laravel/storage/*.key
/backend-laravel/storage/app/public/
/backend-laravel/storage/logs/
/backend-laravel/storage/framework/sessions/
/backend-laravel/storage/framework/cache/
/backend-laravel/storage/framework/views/
/backend-laravel/public/storage
.phpunit.result.cache
.idea/
.vscode/*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/whatsapp-simulator/node_modules/
/whatsapp-simulator/dist/
/ai-service/.env*
/ollama/*.log
*.deb
*.tsbuildinfo
/backend-laravel/nohup.out
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
